 html {
  height:100%;
  min-height:100%;
  width:100%;
}
body {
  height:100%;
  min-height:100%;
  width:100%;
  padding:0;
  margin:0;
}
.water{
  width:400px;
  height: 400px;
  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
  overflow: hidden;
}
.water:before, .water:after{
  content:'';
  position: absolute;
  width:400px;
  height: 400px;
  top:-150px;
  background-color: #fff;
}
.water:before{
  border-radius: 45%;
  background:rgba(255,255,255,.7);
  animation:wave 5s linear infinite;
}
.water:after{
  border-radius: 35%;
  background:rgba(255,255,255,.3);
  animation:wave 5s linear infinite;
}
@keyframes wave{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}
